* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  gap: 25px;
}

.slider-wrap {
  width: 90%;
  height: 350px;
  background-color: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}

.subject {
  display: flex;
  gap: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.5s;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subject:hover {
  color: #ddd;
}

.type-box {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider-type-sub {
  transition: all 0.5s;
}

.slider-type-sub.animate {
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
/* slider util */

/* controller */

.slider-util {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.auto-slider-controller {
  width: 96px;
  height: 50px;
  background-color: #151739;
  padding: 15px;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
}

.controll-btn {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 3px;
  transform: translateY(3px);
  transition: all 0.5s;
}

.controll-btn.active {
  transform: translateY(3px) translateX(100%);
  background-color: #151739;
  color: #fff;
}

.slider-forms {
  display: flex;
  gap: 1px;
}

.slider-forms li {
  cursor: pointer;
  background-color: #151739;
  border: 1px solid #ddd;
  padding: 15px;
  color: #fff;
}

.slider-forms li.active {
  background-color: #fff;
  color: #000;
}

.slider-forms li:first-child {
  border-radius: 5px 0 0 5px;
}

.slider-forms li:last-child {
  border-radius: 0 5px 5px 0;
}

/* page-info */

.page-info {
  font-size: 1.5rem;
}
.current-page {
  font-weight: bold;
}

.total-page {
  color: #999;
}

/* slider */

.slider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider-wrap {
  overflow: hidden;
  width: 750px;
}

.slider-wrap::after {
  position: absolute;
  width: 250px;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
}

.sliders {
  height: 100%;
  display: flex;
  transition: all 0.5s ease;
}

.slider {
  min-width: 250px;
  height: 100%;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-move {
}

.to-left,
.to-right {
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.to-left:hover,
.to-right:hover {
  color: rgba(0, 0, 0, 0.8);
}

.to-left {
  position: absolute;
  left: 22%;
  top: 50%;
  transform: translateY(-100%);
}

.to-right {
  position: absolute;
  right: 22%;
  top: 50%;
  transform: translateY(-100%);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.logo img {
  width: 100px;
  object-fit: contain;
}
