* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

:root {
  --yellow-color: #ffd700;
  --red-color: #dc143c;
  --blue-color: #4169e1;
}

/* header */

header {
  width: 100%;
  height: 80px;
  position: absolute;
  transition: all 0.5s;
  z-index: 100;
}

.header-top {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  background-color: #000;
  position: relative;
  border-bottom: 5px solid var(--yellow-color);
}

.logo {
  width: 120px;
  height: 50px;
  background: url("./logo.webp") center/cover no-repeat;
  cursor: pointer;
  position: absolute;
  left: 35px;
  border-radius: 3px;
}

.gnb-bar {
  margin-right: 10px;
}

.nav-bar {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  gap: 40px;
  z-index: 99;
}

.menu {
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--yellow-color);
}

.menu::before,
.menu::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 3px;
  background: #fff;
  width: 0%;
  transition: width 0.3s ease;
  border-radius: 3px;
}

.menu.active::before,
.menu.active::after {
  background: var(--red-color); /* 활성화된 상태의 색상 */
}

.menu::before {
  left: 49%;
}

.menu::after {
  right: 49%;
}

.menu:hover::before,
.menu:hover::after {
  width: 50%;
}

.header-bottom {
  width: 100%;
  height: 0px;
  position: absolute;
  background-color: var(--yellow-color);
  bottom: 0;
  transform: translateY(100%);
  transition: all 0.5s;
}

header.active .header-bottom {
  height: 120px;
}

.drop-down-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.dropdown li {
  color: #fff;
  width: 80px;
  transition: all 0.3s;
  opacity: 0;
}

header.active .dropdown li {
  opacity: 1;
}

.dropdown li a:hover {
  font-weight: bold;
}

/* section */


.tabs {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.items {
  width: 300%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}

.items div {
  width: 33.33%;
  height: 100vh;
  float: left;
  position: relative;
}

.items div:nth-child(1) {
  background: url("./images/photo-01.jpg") center center fixed no-repeat;
}
.items div:nth-child(2) {
  background: url("./images/photo-02.jpg") center center fixed no-repeat;
}
.items div:nth-child(3) {
  background: url("./images/photo-03.jpg") center center fixed no-repeat;
}

.items div:nth-child(1)::before,
.items div:nth-child(2)::before,
.items div:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.items div:nth-child(1)::before {
  background: linear-gradient(135deg, var(--yellow-color), transparent);
}
.items div:nth-child(2)::before {
  background: linear-gradient(135deg, var(--red-color), transparent);
}
.items div:nth-child(3)::before {
  background: linear-gradient(135deg, var(--blue-color), transparent);
}

.items div h1 {
  position: relative;
  font-size: 120px;
  color: #fff;
  text-align: center;
  transform: translateY(-200px);
  opacity: 0;
  transition: all 0.5s;
  transition-delay: 0.5s;
}
.items div h1.active {
  transform: translateY(200px);
  opacity: 1;
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid #000;
  background: rgba(0, 0, 0, 0.6);
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
}

footer ul li {
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.2rem;
}

.buttons:first-child:hover {
  color: var(--yellow-color);
}

.buttons:nth-child(2):hover {
  color: var(--red-color);
}

.buttons:nth-child(3):hover {
  color: var(--blue-color);
}

.button:nth-child(1).active {
  background-color: var(--yellow-color);
}

.button:nth-child(2).active {
  background-color: var(--yellow-color);
}

.button:nth-child(3).active {
  background-color: var(--yellow-color);
}
