* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* header */

header {
  width: 100%;
  height: 80px;
  position: absolute;
  transition: all 0.3s;
  z-index: 100;
  overflow: hidden;
}

.header-top {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  background-color: #fff;
  position: relative;
  border-bottom: 5px solid royalblue;
}

.logo {
  width: 120px;
  height: 50px;
  background: url("./logo.webp") center/cover no-repeat;
  cursor: pointer;
  position: absolute;
  left: 35px;
  border-radius: 3px;
}

.gnb-bar {
  margin-right: 10px;
}

.nav-bar {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  gap: 40px;
  z-index: 99;
}

.menu {
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  color: royalblue;
}

.menu::before,
.menu::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 3px;
  background: royalblue;
  width: 0%;
  transition: width 0.3s ease;
  border-radius: 3px;
}

.menu::before {
  left: 49%;
}

.menu::after {
  right: 49%;
}

.menu:hover::before,
.menu:hover::after {
  width: 50%;
}

.header-bottom {
  width: 100%;
  height: 120px;
  position: absolute;
  background-color: #fff;
  bottom: 0;
  transform: translateY(100%);
}

.drop-down-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.dropdown li {
  color: #fff;
  width: 80px;
}

.dropdown li a:hover {
  font-weight: bold;
}

/* section */

section {
  width: 100%;
  height: 100vh;
  background: url("./images/photo-01.jpg") center/cover no-repeat;
  position: relative;
}

section::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(65, 105, 225, 0.4);
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid #000;
  background: rgba(0, 0, 0, 0.6);
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
}

footer ul li {
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.2rem;
}

footer ul li:first-child:hover {
  color: royalblue;
}

footer ul li:nth-child(2):hover {
  color: crimson;
}

footer ul li:last-child:hover {
  color: gold;
}
